@import "../function";
@import "../mixins";

//-----===== 5 .banner , 8 .banner ====-----//

.banner{
  background: url('../img/banner1.jpg') left top / cover no-repeat #00b5d7;
  display: flex;
  justify-content: right;
  margin: 0 0 100px 0;

  & .banner__information{
    width: fun-width-interest(570px,1170px);
    text-align: center;
    margin: 0 4% 0 0;
    padding: 50px 0 45px 0;

    & .banner__title{
      @include mix-font($fz:26px,$fw:600,$lh:28px,$ls:100);
      margin: 0 0 20px 0;
      color: #2d2b27;
      text-transform: uppercase;
    }

    & .banner__subtitle{
      @include mix-font($fz:14px,$fw:500,$lh:20px,$ls:400);
      margin: 0 0 28px 0;
      color: #1a1a1a;

    }

    & .banner__btn{
      $value: #ffffff, 60px, 245px, #2b2b2b, 12px, 16px, 180, 22px;
      @include mix-button($value...);
      margin: 0 auto;

      &:active{
        box-shadow:inset 0 0 15px rgba(0,0,0, 0.5);
      }
    }

  }

  &--left{
    background: url('../img/banner2.jpg') right top / cover no-repeat #d7dbd5;
    justify-content: left;

    & .banner__information{
      width: fun-width-interest(600px,1170px);
      margin: 0 0 0 4%;

      & .banner__btn{
        $value: #171717, 70px, 200px, #ffffff, 14px, 18px, 50, 26px;
        @include mix-button($value...);

        &:active{
          box-shadow:none;
        }

      }

    }

  }

}

@media (max-width: 1075px){
  
  .banner{
    background-position: -100px 0;

    &--left{
      background-position: right -120px top 0;
    }
  }
  
}

@media (max-width: 850px){

  .banner{
    background-position: -150px 0;

    &--left{
      background-position: right -200px top 0;
    }
  }

}

@media (max-width: 750px){

  .banner{
    background: #00b5d7;
    margin: 0 0 50px 0;

    & .banner__information{
      width: 100%;
      margin: 0 2%;
    }

    &--left{
      background: #d7dbd5;
    }
  }

}

@media (max-width: 590px){

  .banner{

    & .banner__information{
      padding: 40px 0 35px 0;

      & .banner__title{
        @include mix-font($fz:22px,$fw:600,$lh:30px,$ls:100);

      }

      & .banner__subtitle{
        @include mix-font($fz:12px,$fw:500,$lh:22px,$ls:400);

      }

    }

  }

}